body{

	margin: 0;
	padding: 0;
	background: url(../asset/img/penggajian.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans-serif;
}

.login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60%, -50%);
	background: rgba(0, 0, 0, 0.5);
	padding: 40px;
	width: 300px;
	box-shadow: 0 0 10px 5px black;
}

.avatar{
	font-size: 50px;
	background: #f1f2f6;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	color: #2c3e50;
}

.login h3{
	text-align: center;
	color: white;
	padding-top: 15px;
	letter-spacing: 1px;
}

.box-login{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	border-bottom: 2px solid white;
	padding: 8px 0;
}

.box-login i{
	font-size: 20px;
	color: white;
}

.box-login input{
	width: 100%;
	padding: 0 10px;
	background: none;
	border: none;
	outline: none;
}

.box-login input::placeholder{
	color: white;
}
.btn-login{
	width: 100%;
	background: none;
	padding: 15px;
	border: 1px solid white;
	font-size: 18px;
	letter-spacing: 5px;
	color: white;
	cursor: pointer;
}

.btn-login:hover{
	background: rgb(0, 0, 0, 0.8);
}